<body style = "background: url(https://images.wallpaperscraft.com/image/road_marking_evening_clouds_horizon_120298_1920x1080.jpg); background-size: 100% 100% ;"></body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Development</title>
</head>
<body>
    <h1 style="margin-left:500px;color:whitesmoke"> In Development</h1>
    <button onclick="window.location.href = 'main';"type="button" style="font-size: 20px;margin-left: 509px;height: 50px; width: 200px;background-color:indianred;color:white;"><b>HOME PAGE</b></button>
</body>
</html>