
<body style = "background: url(https://images.wallpaperscraft.com/image/road_marking_evening_clouds_horizon_120298_1920x1080.jpg); background-size: 100% 100% ;"></body>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1 style="margin-left:570px;color:white;">GAMES</h1></body>
    <div class="row">
        <div >
        </br>
          <button onclick="window.location.href = 'home';"type="button" style="font-size: 40px;height: 250px;margin-left:300px; width: 290px;background-color:brown;color:white;"><b>ROCK PAPER SCISSORS</b></button>
          <button onclick="window.location.href = 'another';"type="button" style="font-size: 40px;height: 250px;margin-left:100px; width: 290px;background-color:orange;color:white;"><b> ANOTHER GAME</b></button>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>